
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: #000000; /*rgba(43, 48, 59, 0.8);*/ 
    border-bottom: 2px solid rgba(100, 114, 125, 0.3);
    color: #ffffff;
    font-weight: 700;
}

